body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    margin: auto;
    padding: 0 auto;
    background-image: url(uanduck.jpg);
    background-repeat: no-repeat;
}

.container {
    border-radius: 25px;
    width: 50%;
    margin: 50px auto;
    background: #fff;
    padding: 30px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.596);
}

h1 {
    text-align: center;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: rgb(214, 5, 5);
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    background: #0056b3;
}

#result {
    margin-top: 20px;
    white-space: pre-wrap;
}

#copyButton{
    background-color: rgb(22, 214, 5);
}

#copyButton:active{
    border-radius: 10px;
    background: #007BFF;
border: solid 2px black;
}